
#maindiv
{
    left: 0px;
    position: relative;
    top: 300px;
}
#middleone
{
    position: absolute;
    top: 828px;
    left: 193px;
}
.careerbox
{
    height: 20vw;
    width: 20vw;
    border-radius:50%;
    background-color: black;
}

#mainslider
{
    position: relative;
    top: 200px;
    width: 100vw;
    overflow: hidden;
}
#slider
{
    width: 400vw;
    position: relative;
    animation-name:moveslider;
    right: 0vw;
    animation-duration: 21s;
    animation-iteration-count: infinite;
}
#slider img
{
    width: 100vw;
}

@keyframes moveslider
{
    0%
    {
        right:0vw;
    }
    23%
    {
        right: 0vw;
    }
    33%
    {
        right: 100vw;
    }
    56%
    {
        right:100vw;
    }
    66%
    {
        right: 200vw;
    }
    90%
    {
        right: 200vw;
    }
    99%
    {
        right: 300vw;
    }
    100%
    {
        right: 0vw;
    }
}